# REQUIRED CONFIG
BOT_TOKEN = "5579934749:AAGdwqSFSj_iBPv_ayhcasRaZVGQIokj4Hc"                             # Require restart after changing it while bot running
OWNER_ID = "1848035244"                               # Require restart after changing it while bot running
TELEGRAM_API = "16875611"
TELEGRAM_HASH = "399507ca7ad5334981aa3224da668165"                         # Require restart after changing it while bot running

# OPTIONAL CONFIG
GDRIVE_ID = "0ALAJgmGRN9CZUk9PVA"
IS_TEAM_DRIVE = "True"
DOWNLOAD_DIR = "/usr/src/app/downloads/"    # Require restart after changing it while bot running
DOWNLOAD_STATUS_UPDATE_INTERVAL = "10"
AUTO_DELETE_MESSAGE_DURATION = "30"
DATABASE_URL = "mongodb+srv://db:db@cluster0.uz6lx8u.mongodb.net/?retryWrites=true&w=majority"                           # Require restart after changing it while bot running
AUTHORIZED_CHATS = "-1001843314533"                       # Require restart after changing it while bot running
SUDO_USERS = ""                             # Require restart after changing it while bot running
IGNORE_PENDING_REQUESTS = "True"
USE_SERVICE_ACCOUNTS = "True"
INDEX_URL = "https://personalstuff.dhruv444.workers.dev/1:"
STATUS_LIMIT = ""
STOP_DUPLICATE = "True"
CMD_PERFIX = ""                              # Require restart after changing it while bot running
UPTOBOX_TOKEN = "3e7c2c516b824d386f2292e83d50bed89ka6h"
TORRENT_TIMEOUT = "300"
EXTENSION_FILTER = ""
INCOMPLETE_TASK_NOTIFIER = "True"
YT_DLP_QUALITY = ""

# Update
UPSTREAM_REPO = ""
UPSTREAM_BRANCH = ""

USER_SESSION_STRING = "AQEBgFsAOeqNZonJKLWp0DQfCEMGLPAmFPUrD8eky7f4NGNXx1fAt2y0t1HWyQTSMleRw1wzlZxvHv8ojCLtPfaVI2xtoscxkwMpQOe6SIWz0LTRAGS1fAqrnDzce2ytN2OlnWaAqzCxvBRL3OE_mBxkCKfmK1aaCXJWYJQbDHhvO4OnVQ3-EcLcQUlEJ8X7rRFgsFTOVElp6A0b1MiARUL9cBO6IjtuWJ0ElnD0d5xP2AVZDlD-rhgmL1gBm9W2GAKcd9Q4EFHRzSZWenLhKeW-EYoMnjOvMOTxDNzi-KG8zt6ljsQrY55_2Y4Zf2hL7cAkkfPH_qV3y54x9Yv8nLkJpkduVgAAAABuJsesAA"                    # Require restart after changing it while bot running
LEECH_SPLIT_SIZE = ""
AS_DOCUMENT = ""
EQUAL_SPLITS = ""
MEDIA_GROUP = ""
DUMP_CHAT = "-1001819093796"

# qBittorrent/Aria2c
BASE_URL = "http://62.210.114.32:8002"
SERVER_PORT = ""
WEB_PINCODE = ""

#Queueing system
QUEUE_ALL = ""
QUEUE_DOWNLOAD = ""
QUEUE_UPLOAD = ""

# RSS
RSS_DELAY = ""                              # Require restart after changing it while bot running
RSS_COMMAND = ""
RSS_CHAT_ID = ""
RSS_USER_SESSION_STRING = ""                # Require restart after changing it while bot running

# Mega
MEGA_API_KEY = "IV1FBQ6C"
MEGA_EMAIL_ID = "dhruvaa03@gmail.com"
MEGA_PASSWORD = "Okay@!@123456"

# Buttons
VIEW_LINK = ""

# Torrent Search
SEARCH_API_LINK = ""
SEARCH_LIMIT = ""
SEARCH_PLUGINS = '["https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/rarbg.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/piratebay.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/legittorrents.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/limetorrents.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/torrentscsv.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/zooqle.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/eztv.py",
                   "https://raw.githubusercontent.com/MaurizioRicci/qBittorrent_search_engines/master/kickass_torrent.py",
                   "https://raw.githubusercontent.com/MaurizioRicci/qBittorrent_search_engines/master/yts_am.py",
                   "https://raw.githubusercontent.com/MadeOfMagicAndWires/qBit-plugins/master/engines/linuxtracker.py",
                   "https://raw.githubusercontent.com/MadeOfMagicAndWires/qBit-plugins/master/engines/nyaasi.py",
                   "https://raw.githubusercontent.com/LightDestory/qBittorrent-Search-Plugins/master/src/engines/ettv.py",
                   "https://raw.githubusercontent.com/LightDestory/qBittorrent-Search-Plugins/master/src/engines/glotorrents.py",
                   "https://raw.githubusercontent.com/LightDestory/qBittorrent-Search-Plugins/master/src/engines/thepiratebay.py",
                   "https://raw.githubusercontent.com/nindogo/qbtSearchScripts/master/magnetdl.py",
                   "https://raw.githubusercontent.com/khensolomon/leyts/master/yts.py"]'

#Limits
STORAGE_THRESHOLD = "30"
TORRENT_LIMIT = "180"
DIRECT_LIMIT = "200"
YTDLP_LIMIT = "80"
GDRIVE_LIMIT = "400"
MEGA_LIMIT = "20"
LEECH_LIMIT = "80"
MAX_PLAYLIST = "40"
CLONE_LIMIT = "500"

#Group Features
FSUB_IDS = ""
USER_MAX_TASKS = "3"
ENABLE_CHAT_RESTRICT = ""
ENABLE_MESSAGE_FILTER = ""
STOP_DUPLICATE_TASKS = "True"
DISABLE_DRIVE_LINK = ""

#Extra
SET_COMMANDS = "True"
DISABLE_LEECH = ""
DM_MODE = "all"
DELETE_LINKS = ""
LOG_CHAT = "-1001818500419"
